<div id="<%= dom_id airbnb %>">
  <p>
    <strong>Name:</strong>
    <%= airbnb.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= airbnb.address %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= airbnb.description %>
  </p>

  <p>
    <strong>Price per night:</strong>
    <%= airbnb.price_per_night %>
  </p>

  <p>
    <strong>Number of guests:</strong>
    <%= airbnb.number_of_guests %>
  </p>

</div>
